.header {
  font-family: 'Lato', sans-serif;
  margin-bottom: 3rem;


  &__bar {
    background-color: #B71233;
    color: #fff;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    flex: 0 0 32%;
    fill: #fff;
    font-size: 0.1rem;
  }

  &__city {
    flex: 0 0 32%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    justify-self: center;

    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
  }

  &__date {
    flex: 0 0 32%;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    text-align: right;
    justify-self: flex-end;

    @media screen and (min-width: 768px) {
      font-size: 1.1rem;
    }
  }

  &__hotel-name {
    margin: 2rem 0 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2.4rem;
    }
  }

  &__hotel-address {
    font-size: 1.4rem;
    margin: 0 0 0.5rem;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &__carousel {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
      height: 300px;
    }

    @media screen and (min-width: 1200px) {
      height: 400px;
    }
  }

  &__content {
    margin-left: 1rem;
  }

  &__btn {
    color: #000;
    background-color: #F2ECE7;
    margin: 1rem 1rem 0 0;
    padding: 0.8rem 1.3rem;

    border: 1.2px solid #000;
    border-radius: 25px;

    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover, &:focus {
      background-color: #dcd1c6;
    }

    @media screen and (min-width: 768px) {
      margin: 2rem 1rem 0 0;
      padding: 0.8rem 1.3rem;
      font-size: 1.1rem;
    }
  }
}